<div class="errors">
  <h2><%= pluralize(@link.errors.count, 'error')%> detected:</h2>

  <ul>
    <% @link.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
